APP_ENV=local
APP_KEY=

# Base de datos (Docker host es 'db')
DB_HOST=db
DB_PORT=3306
DB_DATABASE=caralweb
DB_USERNAME=caraluser
DB_PASSWORD=caralpassword
DB_ROOT_PASSWORD=rootpassword

# Izipay FormToken / Popin / IPN
IZIPAY_USERNAME=
IZIPAY_PASSWORD=
IZIPAY_PUBLIC_KEY=
IZIPAY_HMAC_SHA256=
IZIPAY_CREATE_PAYMENT_ENDPOINT=https://api.micuentaweb.pe/api-payment/V4/Charge/CreatePayment
IZIPAY_DEFAULT_ZIP_CODE=15000
