APP_ENV=production
APP_KEY=change-this-random-32-char-key

DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=cpaneluser_caralweb
DB_USERNAME=cpaneluser_caraluser
DB_PASSWORD=change-this-password

IZIPAY_ENV=production
IZIPAY_DEMO_MODE=false
IZIPAY_MERCHANT_CODE=change_this
IZIPAY_API_KEY=change_this
IZIPAY_TOKEN_SESSION=
IZIPAY_KEY_RSA=change_this
